<div class="container">
<h1>WordList is creating...</h1>
<div class="well">
	Go back and try refresh the page until your process appear in the list "Execution Logs"! :)
</div>
<br>
<%= link_to 'Back', sources_path %>
</div>